:root {
  /* Light Mode (catppuccin frappé inspired)  */
  --text: #c6d0f5;
  --subtext: #b5bfe2;
  --subtext-1: #e78284;
  --background: #232634;

  --focus-color: #e78284;
  --focus-outline: 0.125rem solid var(--focus-color);

  --icon: #e78284;
  --icon-overlay: #ea999c;

  --skip-text: #232634;
  --skip-surface: #e78284;
}

/* Dark Mode (catppuccin mocha inspired) */
[data-theme='dark'] {
  --text: #cdd6f4;
  --subtext: #bac2de;
  --subtext-1: #eebebe;
  --background: #11111b;

  --focus-color: #eebebe;
  --focus-outline: 0.125rem solid var(--focus-color);

  --icon: #eebebe;
  --icon-overlay: #f2d5cf;

  --skip-text: #11111b;
  --skip-surface: #eebebe;
}
