:root {
  /* Light Mode  */
  --text: #09090b;
  --subtext: #27272a;
  --background: #fafafa;

  --outline: 0.125rem solid #0f172a;

  --icon: #18181b;
  --icon-overlay: #71717a;

  --skip-text: #f4f4f5;
  --skip-surface: #09090b;
}

/* Dark Mode (catppuccin mocha inspired) */
[data-theme='dark'] {
  --text: #cdd6f4;
  --subtext: #bac2de;
  --background: #11111b;

  --outline: 0.125rem solid #f5a97f;

  --icon: #f5e0dc;
  --icon-overlay: #ee99a0;

  --skip-text: #11111b;
  --skip-surface: #f5e0dc;
}
