---
import SocialLinks from './SocialLinks.astro';
import ThemeToggle from './ThemeToggle.astro';

interface HeaderProps {
  siteLogo: string;
}

const { siteLogo } = Astro.props as HeaderProps;
---

<header class="site-header">
  <nav class="site-header__nav" aria-label="Primary navigation">
    <a href="/" class="site-header__home-link" aria-label="Go to homepage">
      <span aria-hidden="true">{siteLogo}</span>
    </a>
    <div class="nav-right">
      <ThemeToggle />
      <SocialLinks />
    </div>
  </nav>
</header>

<style>
  .site-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .site-header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 30rem;
    padding: 1rem;
    height: 8rem;
  }
</style>
