---
interface HeroProps {
  heroHeading: string;
  wavingHand: string;
  heroBio: string;
}

const { heroHeading, wavingHand, heroBio } = Astro.props as HeroProps;
---

<main id="main-content">
  <section id="intro" aria-labelledby="intro-heading" class="hero__section">
    <h1 id="intro-heading" class="hero__heading">
      {heroHeading}
      <span class="waving">
        <span
          class="waving__hand"
          role="img"
          aria-label="Waving hand"
          aria-hidden={wavingHand ? 'false' : 'true'}
        >
          {wavingHand}
        </span>
      </span>
    </h1>
    <p class="hero__bio">
      {heroBio}
    </p>
  </section>
</main>

<style>
  .hero__section {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .hero__heading {
    font-size: 1.5rem;
  }

  @media (min-width: 37.5rem) {
    .hero__heading {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 55rem) {
    .hero__heading {
      font-size: 1.7rem;
    }
  }

  .waving__hand {
    animation: wave-hand 1.2s 1;
    display: inline-block;
    transform-origin: 70% 70%;
  }

  @keyframes wave-hand {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    45% {
      transform: rotate(14deg);
    }
    60% {
      transform: rotate(-4deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .hero__bio {
    font-size: 0.95rem;
  }

  @media (min-width: 37.5rem) {
    .hero__bio {
      font-size: 1rem;
    }
  }

  @media (min-width: 55rem) {
    .hero__bio {
      font-size: 1.05rem;
    }
  }
</style>
