---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="RJ Leyva’s blog shares hands-on tips for building with Astro and React, configuring Neovim plugins, and customizing split keyboard setups—perfect for modern web developers and tinkerers."
    />
    <title>RJ Leyva's Blog</title>
  </head>
  <body>
    <slot />
  </body>
</html>
