---
import type { PageMetadata } from '@/types';

const { pageTitle, pageDescription } = Astro.props as PageMetadata;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
